/* css rules*/
h1 {
    color: deepskyblue;
    font-family: Brandon Text;
}
h2 {
   text-align: left;
       font-family: Interstate;
}
h3 {
    font-family: Brandon Text;
}
h4 {
    font-family: Brandon Text;
    color: skyblue
}
body {
     background: -webkit-linear-gradient(left top, palegoldenrod, cyan); 
      
}
p {
    font-size: 15px;
        font-family: BioRhyme;
    color: black;
}
b {
    font-family: Hensa;
}
ul {
    color: deeppink;
}
ol {
    color: forestgreen
}
blockquote {
    background-color: cornsilk;
    padding: 40px;
    color: orangered;
    font-family: BioRhyme;
}
table, th, td {
      font-family: Brandon Text;
                border: .5px solid cyan;}
            tr:nth-child(even){
                background-color:lightgoldenrodyellow
}
form {
    font-family: Hensa;
}
hr {
    color: aquamarine
}
