/* css rules*/
h1 {
    color: cadetblue;
    font-family: Rockwell;
}
h2 {
   text-align: justify;
       font-family: rockwell
}
h3 {
    font-family: Circular Std;
}
h4 {
    font-family: futura;
    color: darkblue
}
body {
    background-color: cornsilk
}
p {
    font-size: 15px;
        font-family: Rockwell;
}
b {
    font-family: Circular Std;
}
ul {
    color: crimson;
}
ol {
    color: darkmagenta
}
blockquote {
    background-color: bisque;
    padding: 10px;
    color: saddlebrown;
    font-family: Eurostile;
}
table, th, td {
      font-family: Courier;
                border: 1px solid black;}
            tr:nth-child(even){
                background-color:azure
}
form {
    font-family: Circular Std;
}
