/* css rules*/
h1 {
    color: aliceblue;
    font-family: futura;
}
h2 {
   text-align: center;
       font-family: cursive
}
h3 {
    font-family: fantasy;
}
h4 {
    font-family: fantasy;
    color: lawngreen
}
body {
    background-color: darkgrey
}
p {
    font-size: 20px;
        font-family: Arial;
    color: limegreen;
}
b {
    font-family: Georgia;
}
ul {
    color: greenyellow;
}
ol {
    color: mediumspringgreen
}
blockquote {
    background-color: darkseagreen;
    padding: 40px;
    color: darkgreen;
    font-family: Helvetica;
}
table, th, td {
      font-family: Marker Felt;
                border: 10px dashed green;}
            tr:nth-child(even){
                background-color:dimgrey
}
form {
    font-family: Arial;
}
